[submodule "sti"]
	path = game/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "levity"]
	path = game/levity
	url = https://IoriBranford@bitbucket.org/IoriBranford/levity.git
