[submodule "sti"]
	path = game/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
	branch = master
[submodule "levity"]
	path = game/levity
	url = https://bitbucket.org/IoriBranford/levity.git
	branch = master
[submodule "love-android/jni/game-music-emu-0.6.1/game-music-emu"]
	path = love-android/jni/game-music-emu-0.6.1/game-music-emu
	url = https://bitbucket.org/mpyne/game-music-emu.git
	branch = master
[submodule "love-android-sdl2"]
	path = love-android-sdl2
	url = https://bitbucket.org/MartinFelis/love-android-sdl2.git
	branch = master
	ignore = dirty
